{% extends 'base.html' %}
{% load static %}
{% block title %}
        <title>Home -Taskmate</title>
    {% endblock title %}
{% block body_block %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="{%static 'images/note.jpg'%}" alt="Notes" class="rounded shadow-sm" height="250" width="360">
            </div>
            <div class="col-lg-4">
                <img src="{%static 'images/note.jpg'%}" alt="Notes" class="rounded shadow-sm" height="250" width="360">
            </div>
            <div class="col-lg-4">
                <img src="{%static 'images/note.jpg'%}" alt="Notes" class="rounded shadow-sm" height="250" width="360">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-primary">Quick and Easy to use, Anywhere Anytime</p></center>
                <center><P class="h2 mt-3">Plan your day, Organise your life</P></center>
                <center><p class="h5">Taskmate lets you organise and prioritize your daily schedules</p></center>

                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-4 shadow">Lets Get Started</button></a></center>
            </div>
        
        </div>
    </div>
{% comment %} <h1>{{index_text}}</h1> {% endcomment %}
{% endblock body_block %}